#footer {
   
    
    background-color: rgba(26, 26, 26, 1); 
    padding-bottom:17vh ; 
   
    position: relative;


  
//   .footer-container {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr); 
//     grid-template-rows: auto auto; 
//     gap: 20px; 
//     justify-items: center; 
//   }
  
  .arrowup {

    text-align: center;
    text-align: center;
    padding-top: 25px;
    margin-bottom: 8vh;
    max-height: 3vh;
    padding:25px;

    
    
  }
  
  .backup {

    align-items: center;
    text-align: center;
    color: #FFFBFB;


font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 18px;

align-items: center;
text-align: center;
letter-spacing: 0.18538em;




  }
  
.social{
    display: flex;
  padding-top: 10vh;
    max-width: 300px;
    height: auto;
gap: 40px;
  margin-left: 41vw;
}
  



  .Reserved{



max-width: 70vw;
max-height: 22px;
padding-left: 30vw;
align-items: center;
text-align: center;
font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 25px;
margin-top: 8vh;
color: #FFFFFF;}
  }